.search-box {
    width: 1088px;
    height: 53px;
    border-radius: 20px;
    background-color: #F2F2F2;
    box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
    text-align: center;
}

.search-box input {
    width: 95%;
    margin-top: 9px;
    background-color: #F2F2F2;
}
